root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 2

[*.md]
trim_trailing_whitespace = false
max_line_length = 100

[{*.gant,*.gradle,*.groovy,*.gson,*.gy}]
ij_groovy_label_indent_size = 2
ij_groovy_spaces_within_brackets = true
ij_groovy_spaces_within_gstring_injection_braces = true
