<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Wonky - Slack made easy for organizations!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css" />

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new Vue({
                el: '#app',
                // define data - initial display text and set the text on the button
                data: {
                    email: null,
                    logoOrg: null,
                    organizationName: null,
                    result: null,
                    progress: false
                },
                mounted() {
                    $('.modal').modal();
                    axios.get('/v1/organizations/_self')
                        .then(response => {
                          this.logoOrg = response.data.team.icon.image_132;
                          this.organizationName = "¡Unete a " +
                              response.data.team.name +
                              " en Slack!";
                          console.log(response.data.team);
                         })},
                // define the methods - alternate between the two values
                methods: {
                    submitInvite: function () {
                        if(!this.email) {
                            $('#icon_prefix2').focus();
                            return;
                        }
                        this.progress = true;
                        console.log("Intentando enviar invite a " + this.email);

                        var invite = {
                            "email" : this.email
                        };
                        axios.post('/v1/invites', invite)
                            .then((response) => {
                                console.log(response.data);
                                if(response.data.ok) {
                                    this.result = 'Invite sent to ' + this.email +
                                        ', please check your email inbox!';
                                    this.email = null;
                                } else {
                                    this.result = response.data.error;
                                    $('#icon_prefix2').focus();
                                }

                                $('#modal1').modal('open');

                            })
                            .catch((err) => {
                              console.log(err.data);
                              //this.result = e
                            });
                        this.progress = false;
                    }
                }
            })
        })
    </script>
<body>
<noscript>
    <strong>We're sorry but todo-list-app doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>
<div id="app">
    <a class="github-fork-ribbon" href="https://github.com/domix/wonky" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>

    <div class="container">
        <div class="row header">
            <h1 class="col s12 center-align teal-text">{{organizationName}}</h1>
        </div>
        <div class="row">
            <div class="col s6">
                <img class="z-depth-5 right responsive-img" style="width: 96px; height: 96px" src="/static/slack.png">
            </div>
            <div class="col s6">
                <img class="z-depth-5 left responsive-img" style="width: 96px; height: 96px" :src="logoOrg">
            </div>
        </div>
        <div class="row">
            <div v-show="progress" class="progress">
                <div class="indeterminate"></div>
            </div>
            <form @submit.prevent="submitInvite" class="col s12 center-align">
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input v-model="email" id="icon_prefix2" type="email" class="materialize-textarea validate">
                    <label for="icon_prefix2">Email here!</label>
                    <span class="helper-text" data-error="wrong"></span>
                </div>
                <button class="btn waves-effect col s12">Request a free invitation to Slack!</button>
            </form>
        </div>

        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Slack invite...</h4>
                <p>{{result}}</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
            </div>
        </div>
        <!--
        <div class="row">
          <ul class="collection col s6 offset-s3">
            <li class="collection-item" v-for="todo in todos" :key="todo.id">
              <p>
                <label>
                  <input type="checkbox" :checked=todo.done @change="todo.done = !todo.done" />
                  <span>{{todo.title}}</span>
                  <span>
                        <a @click.prevent="deleteTodo(todo)">
                          <i class="material-icons right teal-text">delete</i>
                        </a>
                      </span>
                </label>
              </p>
            </li>
          </ul>
        </div>
        -->
    </div>
</div>
</body>
</html>
