.splash {
    width: 310px;
    margin: 200px auto;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial
}

@media (max-width: 500px) {
    .splash {
        margin-top: 100px
    }
}

.head {
    margin-bottom: 40px
}

.logos {
    position: relative;
    margin-bottom: 40px
}

.logo {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover
}

.logo.slack {
    background-image: url(/assets/slack.svg)
}

.logo.org::after {
    position: absolute;
    display: block;
    content: "+";
    top: 15px;
    left: 0;
    width: 300px;
    text-align: center;
    color: #D6D6D6;
    font: 15px Helvetica Neue
}

.logo.org {
    margin-right: 70px
}

p {
    font-size: 15px;
    margin: 5px 0
}

button, input {
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    display: block;
    text-align: center;
    box-sizing: border-box;
    width: 100%
}

button {
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
    border-width: 0;
    background: #E01563;
    text-transform: uppercase;
    cursor: pointer;
    appearence: none;
    -webkit-appearence: none;
    padding: 0;
    outline: 0;
    transition: background-color 150ms ease-in, color 150ms ease-in
}

button.loading {
    pointer-events: none
}

button:disabled {
    color: #9B9B9B;
    background-color: #D6D6D6;
    cursor: default;
    pointer-events: none
}

button.error {
    background-color: #F4001E
}

button.success:disabled {
    color: #fff;
    background-color: #68C200
}

button:not(.disabled):active {
    background-color: #7A002F
}

b {
    transition: transform 150ms ease-in
}

b.grow {
    transform: scale(1.3)
}

form {
    margin-top: 20px;
    margin-bottom: 0
}

input {
    color: #9B9B9B;
    border: 1px solid #D6D6D6
}

input:focus {
    color: #666;
    border-color: #999;
    outline: 0
}

.active {
    color: #E01563
}

footer {
    color: #D6D6D6;
    font-size: 11px;
    margin: 200px auto 0;
    width: 300px;
    text-align: center
}

footer a {
    color: #9B9B9B;
    text-decoration: none;
    border-bottom: 1px solid #9B9B9B
}

footer a:hover {
    color: #fff;
    background-color: #9B9B9B
}